
    nav ul {display: flex; justify-content: space-between; text-align: center; margin-right: 2rem; margin-left: 2rem;}


    
    main figure {
        float: right; 
        width: 48%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
    
